name: Run Python Script on Weekdays

on:
  schedule:
    # Runs at 9:00 AM UTC, Monday to Friday
    # Format: minute hour day-of-month month day-of-week
    # day-of-week: 1-5 represents Monday to Friday
    - cron: '0 23 * * 1-5'
  
  # Allows manual triggering from the Actions tab
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Run Python script
        run: python arkk_fetch.py
      
      - name: Run Python script
        run: python merge_arkk_data.py
      
      - name: Configure Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
      
      - name: Commit and push changes
        run: |
          git add *.csv
          git diff --staged --quiet || git commit -m "Update CSV file - $(date +'%Y-%m-%d')"
          git push
